body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #2a2929;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #333;
    color: rgb(251, 0, 0);
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ffffff;
    border-radius: 4px;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    border-left: 8px solid #000000;
    padding-left: 10px;
    animation: slideInLeft 1s ease-out;
}

h3 {
    font-size: 24px;
    color: #000000;
}

p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 1s ease-out;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(243, 2, 2, 0.2);
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

li:hover img {
    transform: scale(1.05);
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    header {
        font-size: 28px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 20px;
    }
}